.blueColor{
	background-color: #1B6EF9;
}
.birthdayFields {
    display: flex;
}
.v-input.yearField {
    width: 100px;
    min-width: 100px;
    max-width: 130px;
    margin-left: 15px;
}
.emailFormInner p, .emailFormInner label {
	color: #888;
}