.logoWrap {
	justify-content: right;
}
.logoWrap a img {
	width: 200px;
}
button.emailArrowBtn {
	color: #333;
	box-shadow: none;
	padding: 0px;
	font-size: 20px;
}
button.emailArrowBtn:hover {
	box-shadow: none;
}
.v-row.align-items-center {
    align-items: center;
}
.emailFormInner h2 {
	margin-bottom: 20px;
}
.emailFormInner .v-field {
    border: 1px solid rgb(35,81,252);
    box-shadow: none;
    border-radius: 4px;
}
.emailFormInner .v-input__control .v-field__field {
    background-color: #fff !important;
    box-shadow: none;
    border-bottom: none !important;
	border-radius: 4px;

}
.emailForm {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    max-width: 1200px;
    width: 100%;
	padding-left: 15px;
    padding-right: 15px;
}
.emailFormInner .v-input__control  .v-field__outline {
	outline: none;
	border: none;
	--v-field-border-opacity: 0;
}
.emailFormInner .v-input__control  .v-field__outline::before , .emailFormInner .v-input__control  .v-field__outline::after{
	--v-field-border-opacity: 0;
	border: none;
}
.pressEnter {
    display: flex;
    align-items: center;
    justify-content: center;
}
button.pressEnterBtn {
    background-color: rgba(0,0,0,0.13);
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 22px;
    color: #fff;
	margin-left: 10px;
	min-width: 40px;
	text-align: center;
	font-weight: 600;
}
button.pressEnterBtn span.v-btn__prepend {
	margin: 0;
}