body {
    background: #1d1c2a;
    color: #fff;
}
.imaging .imagingInner {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #2d2e40;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}
.imaging .imagingInner .v-card.v-theme--light.v-card--density-default.v-card--variant-elevated.mx-auto {
    background: transparent;
    color: #fff;
}
.cardBlock a {
    color: #25bf7f;
}
