.logoWrap {
	justify-content: right;
}
.logoWrap a img {
	width: 200px;
}
button.emailArrowBtn {
	color: #333;
	box-shadow: none;
	padding: 0px;
	font-size: 20px;
}
button.emailArrowBtn:hover {
	box-shadow: none;
}
.v-row.align-items-center {
    align-items: center;
}
.emailFormInner h2 {
	margin-bottom: 20px;
}
.emailFormInner {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    background-color: #2d2e40;
}
button.emailArrowBtn {
    color: #fff;
    background: transparent;
}
.emailFormInner .v-field {
    border: 1px solid rgb(255,255,255);
    box-shadow: none;
    border-radius: 4px;
}
.emailFormInner .v-input__control .v-field__field {
    background-color: #fff !important;
    box-shadow: none;
    border-bottom: none !important;
	border-radius: 4px;
    color: #333;
}
.progressWrapper .v-progress-linear__determinate.bg-primary {
    background-color: #25bf7f !important;
}
.progressWrapper .v-progress-linear__background.bg-primary {
    background-color: rgba(37, 191, 127, 0.7) !important;
}
.emailForm {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    max-width: 1200px;
    width: 100%;
	padding-left: 15px;
    padding-right: 15px;
}
.emailFormInner .v-input__control  .v-field__outline {
	outline: none;
	border: none;
	--v-field-border-opacity: 0;
}
.emailFormInner .v-input__control  .v-field__outline::before , .emailFormInner .v-input__control  .v-field__outline::after{
	--v-field-border-opacity: 0;
	border: none;
}
.pressEnter {
    display: flex;
    align-items: center;
    justify-content: center;
}
button.pressEnterBtn {
    background-color: rgba(0,0,0,0.13);
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 22px;
    color: #fff;
	margin-left: 10px;
	min-width: 40px;
	text-align: center;
	font-weight: 600;
}
button.pressEnterBtn span.v-btn__prepend {
	margin: 0;
}

/**
 name css
*/
.emailFormInner p {
    margin-bottom: 15px;
}
.emailForm.nameForm .emailFormInner {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/**
bday css
*/
.blueColor{
	background-color: #1B6EF9;
}
.birthdayFields {
    display: flex;
}
.v-input.yearField {
    width: 100px;
    min-width: 100px;
    max-width: 130px;
    margin-left: 15px;
}
.emailFormInner p, .emailFormInner label {
	color: #888;
}

/**
health css
*/
.healthFields {
    display: flex;
    align-items: flex-start;
}
.healthFields .v-input.yearField {
    max-width: 200px;
    margin-left: 0;
}
.healthFields .addField {
    display: flex;
    align-items: stretch;
}
.healthFields .addField span.addhyphon {
    background-color: #eee;
    display: flex;
    padding: 15px;
    height: 58px;
    color: #333;
}
.emailFormInner  .healthFields .addField .v-field {
	border-color: #eee !important;
}
button.pressEnterBtn:hover {
	background-color: #25bf7f;
}

/**
confirm css
*/
.confirmInner p {
    color: #888;
}
.confirmBlock {
    border: 1px solid #dadada;
    border-radius: 4px;
	margin: 40px 0;
}
.confirmInner {
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    border-radius: 10px;
    background-color: #2d2e40;
    padding: 20px;
}
.singleBlock {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #dadada;
	align-items: center;
}
.singleBlock .singleBlockInner label {
    font-weight: 600;
}
.singleBlock .singleBlockInner h5 {
    font-weight: 400;
    font-size: 16px;
    color: #555;
}
.editBtn button.editButton {
    padding: 0;
    min-width: auto;
    box-shadow: none;
    text-transform: capitalize;
    color: #25bf7f;
    font-size: 14px;
    background-color: transparent;
}
.singleBlock.lastBlock {
    border-bottom: none;
}
.confirmOuter {
    margin: 100px auto;
}

/**
full name css
*/
.emailFormInner p {
    margin-bottom: 15px;
}
.emailForm.nameForm .emailFormInner.FullNameFields {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/**
realtion css
*/
.paitentWrapper .confirmInner p {
    color: #888;
}
.paitentWrapper .confirmBlock {
    border-radius: 4px;
	margin: 40px 0;
    border: none;
}
.paitentWrapper  .singleBlock {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #dadada;
	align-items: center;
    margin: 15px 0;
    border-radius: 4px;
}
.paitentWrapper .confirmInner, .paitentWrapper .fill-height.beginBtn {
    max-width: 500px;
    width: 100%;
}
.paitentWrapper .singleBlock .singleBlockInner label {
    font-weight: 600;
}
.paitentWrapper .singleBlock .singleBlockInner h5 {
    font-weight: 400;
    font-size: 16px;
    color: #555;
}
.paitentWrapper .editBtn button.editButton {
    padding: 0;
    min-width: auto;
    box-shadow: none;
    text-transform: capitalize;
    color: #25bf7f;
    font-size: 14px;
    background-color: transparent;
}
.paitentWrapper .singleBlock.lastBlock {
    border-bottom: none;
}
.paitentWrapper .confirmOuter {
    margin: 100px auto;
}